rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow full read/write access to all files by anyone
      allow read, write: if true;
    }
  }
}